* {
  box-sizing: border-box;
}
.toggle {
  width: 100px;
  height: 50px;
  padding: 5px;
  background-color: #999;
  border-radius: 100rem;
  margin: 25px;
  transition: all 0.3s linear;
}
.spinner {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  transition: all 0.3s linear;
}
.toggle.active {
  background-color: rgb(21, 230, 21);
}
.spinner.active {
  transition: all 0.3s linear;
  transform: translateX(50px);
}
