:root {
  --main-color: #1d1d1d;
  --second-color: #3a3a3a;
  --txt-color: #bbbbbb;
  --txt-white: #ffffff;
  --bg-black: #000;

  --header-height: 144px;
  --header-padding: 93px;
}
.hero {
  height: 1000vh;
  padding-top: var(--header-height);
  position: relative;
}
.slide-container {
  position: relative;
  height: 100%;
}
.slide {
  display: flex;
  height: 100%;
}
.slide-img {
  width: 58%;
  padding-right: 60px;
  padding-top: 80px;
  z-index: 1;
}
.slide img {
  width: 100%;
  transform: rotate(-180deg);
  transform-origin: bottom;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.6s ease 0s;
}
.slide.active img {
  transform: rotate(0);
  opacity: 1;
}
.slide-txt {
  width: 42%;
  padding-left: 60px;
}
.slide-title {
  width: max-content;
}
.slide-title > h3 {
  font-size: 13.5rem;
  font-family: BerlinSansFBDemiBold;
  text-transform: capitalize;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  transform: translateX(-200px);

  transition: transform 0.5s ease 0s;
}
.slide.active .slide-title > h3 {
  transform: translateX(0);
}
.slide-description,
.slide-btn {
  margin-top: 84px;
}
.slide-description > p {
  font-size: 1.4rem;
  transition-delay: 0.3s;
  line-height: 1.3;
}
.hero-btn {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 50px;
  background-color: var(--txt-white);
  color: var(--second-color);
}
