.txt {
  width: 100%;
  position: relative;
  padding: 15px;
  background-color: #2ecc71;
  border-bottom: 1px solid #eee;
}
.txt.active {
  background-color: red;
}
.tool {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
ion-icon {
  margin: 5px;
  cursor: pointer;
}
